.success-msg {
    color: #27ae60; 
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.3s; 
}.success-msg {
    color: #27ae60; 
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.3s; 
}